body{
  background-image: linear-gradient(0deg, transparent 31px, #cdcdcd 32px),linear-gradient(90deg,  transparent 31px, #cdcdcd 32px);
  background-color:#fffdcb;
  background-size: 32px 32px;
  font-family: "Open Sans","Segoe UI",Verdana,Arial,"UD デジタル 教科書体 NK-R","游ゴシック Medium","Yu Gothic Medium","游ゴシック",YuGothic,"メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3";
} 
.info:hover{
  cursor: pointer;
  color: blue;
  font-weight: 600;
}
h2+p {
  font-size: small;
  max-width: 750px;
}
li {font-size: 16px;}
a {font-weight: 600;}
a:hover{
  cursor: pointer;
  text-decoration: none;
  color:rgb(255, 30, 125);
}
li {padding-bottom: 0.5em;}
#name {display: inline-block;}
#hideSpan {display: none;}
#note {margin-bottom: 2em;}